.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }

  

  
  body {
    background-color: #393E46;
  }
  
  h2 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  #btn{
    align-items:center;
    background: #20bd7e;
    background-image: -webkit-linear-gradient(top, #20bd7e, #348551);
    background-image: -moz-linear-gradient(top, #20bd7e, #348551);
    background-image: -ms-linear-gradient(top, #20bd7e, #348551);
    background-image: -o-linear-gradient(top, #20bd7e, #348551);
    background-image: linear-gradient(to bottom, #20bd7e, #348551);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  #btn:hover{
   
        background: #fc3c4c;
        background-image: -webkit-linear-gradient(top, #fc3c4c, #d93442);
        background-image: -moz-linear-gradient(top, #fc3c4c, #d93442);
        background-image: -ms-linear-gradient(top, #fc3c4c, #d93442);
        background-image: -o-linear-gradient(top, #fc3c4c, #d93442);
        background-image: linear-gradient(to bottom, #fc3c4c, #d93442);
        text-decoration: none;
      
  }
  
